/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    /*border:1px solid red;*/
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:2rem;
}

h1, h2, h3, h4, h5 {
    font-size: 3rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
    font-size:2rem;
}
/*Top Section Styles*/
header{
    display: flex;
    /*Spacing out the nav elements*/
    justify-content:left;
    align-items:center;
    flex-direction: row;
    margin-top: 2%;
}

  .logo {
    display: flex;
    width: 25%;
    margin-right:10%;
  }
.logo img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width:100%;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
    flex-direction:column;
    align-items: center;
}
.topImg{
    width: 100%;
}
.topImg img{
    display: flex;
    width: 100%;
}
.mainTextContain{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top:4%; 
}
.text-container{
    display: flex;
    flex-direction: column; 
}
.mainTextContain .text-container h2{
    text-align:center;
}
.top-content .text-container {
    width: 50%;
    padding: 0 1%; 
}

/*Middle Section Styles*/
.middle-content {
    margin-bottom: 0%;
    border-bottom: 2px solid #ff4b00;
}

.middle-content h2 {
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction:row;
}
.middle-content .boxes div{
    flex: 1 0 14%;/* 14 = 20 - margin*3*/
    margin: 2%;
    height: 17vh;
    width: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes div p{
    color: white;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:25%;
}
.bottom-content .text-container:last-child {
    padding-right: 0;
}
.boxTeal{
    background:teal;
}
.boxGold{
    background:gold;
}
.boxCadetblue{
    background:cadetblue;
}
.boxCoral{
    background:Coral;
}
.boxCrimson{
    background:Crimson;
}
.boxForestgreen{
    background:Forestgreen;
}
.boxDarkorchid{
    background:Darkorchid;
}
.boxHotpink{
    background:Hotpink;
}
.boxIndigo{
    background:Indigo;
}
.boxDodgerblue{
    background:Dodgerblue;
}

/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
}
footer nav{
    display: flex;
    justify-content: space-around;
}
footer nav a{
    color: white;
}

/*About Page Styles*/

.containerAboutPage{
    width: 80%;
    margin: 0 auto;
}
.topText{
    margin-top: 4%;
}
.middle-content{
    display:flex;
    flex-direction: column;
}
.row{
    display:flex;
    justify-content: space-between;
}
.middleContainer{
    display:flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 4%;
}
.middleContainer img{
    width: 100%;
    margin-bottom: 4%;
}
.middleContainer p{
    margin-bottom: 4%;
}

.middleContainer .border{
    width:100%;
    border-bottom: 2px solid #ff4b00;
}
.bottomContainer{
    display: flex;
    flex-direction:column;
    align-items:top;
    margin-top: 0%;
}
/*Responsive Styles*/
@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    h1,h2,h3{
        margin-top:5%;
        margin-bottom: 5%;
        text-align: center;
    }
    p{
        text-align: left;
    }
    header{
        margin-bottom: 5%;
    }
    section{
        margin-bottom: 10%;
    }
    nav{
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }
    .logo{
        width: 50%;
        margin-bottom: 5%;
    }
    .links{
        display: flex;
        /*Spacing out the nav elements*/
        width: 100%;
        flex-direction: row;
    }
    .top-content .mainTextContain{
        flex-direction: column;   
        align-items: center;
    }
    .top-content .text-container{
        width: 80%;
        font-size: 1.8rem;
        line-height: 1.2;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .middle-content h2{
        text-align: center;
    }
    .boxes{
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .middle-content .boxes div{
        flex: 1 0 45%;
    }
    .bottom-content{
        flex-direction:column;
        align-items: center;
        width: 100%;
    }
    .bottom-content .text-container{
        width: 80%;
        font-size: 1.8rem;
        line-height: 1.2;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .bottom-content .text-container h2{
        align-self:center;
    }
    footer nav{
        margin-top: 0%;
        justify-content: space-around;
    }
    /*About Page Styles 800px*/
    .containerAboutPage{
        width:90%;
    }
    .top-content .topText{
        width:80%;
        margin-bottom: 10%;
    }
    .top-content .topText h1{
        text-align: center;
    }
    .middleContent{
        
    }
    .middleContent .row{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .middleContent .row .middleContainer{
        width: 100%;
        margin-bottom: 10%;
    }
    .middleContent .row .middleContainer h1{
        text-align: center;
    }
    .middleContent .bottomContainer{
        width:100%;
        align-items: center;
        justify-content: center;
    }
}