/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    /*border:1px solid red;*/
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.2vh;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8vh;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
    font-size:1.3vh;
}
/*Top Section Styles*/
header{
    display: flex;
    /*Spacing out the nav elements*/
    justify-content:left;
    align-items:center;
    height: 5vh;
    flex-direction: row
}
.logo {
    display: flex;
    width: 15%;
    margin-right:10%;
  }
.logo img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width:100%;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 8px solid #ff4b00;
    text-align: justify;
    flex-direction:column;
    align-items: center;
}
.topImg{
    width: 100%;
}
.topImg img{
    display: flex;
    width: 100%;
}
.mainTextContain{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top:4%; 
}
.text-container{
    display: flex;
    flex-direction: column; 
}
.mainTextContain .text-container h2{
    text-align:center;
}
.top-content .text-container {
    width: 50%;
    padding: 0 1%; 
}

/*Middle Section Styles*/
.middle-content {
    margin-bottom: 0%;
    border-bottom: 8px solid #ff4b00;
}

.middle-content h2 {
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction:column;
}
.middle-content .row div{
    width: 15vh;
    height:15vh;
    text-align: center;
    padding: 4%;
}
.middle-content .row{
    display: flex;
    flex-direction: row;
}
.middle-content .boxes div{
    margin: 2% 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1.8vh;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:25%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
.boxTeal{
    background:teal;
}
.boxGold{
    background:gold;
}
.boxCadetblue{
    background:cadetblue;
}
.boxCoral{
    background:Coral;
}
.boxCrimson{
    background:Crimson;
}
.boxForestgreen{
    background:Forestgreen;
}
.boxDarkorchid{
    background:Darkorchid;
}
.boxHotpink{
    background:Hotpink;
}
.boxIndigo{
    background:Indigo;
}
.boxDodgerblue{
    background:Dodgerblue;
}

/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
}
footer nav{
    display: flex;
    justify-content: space-around;
}
footer nav a{
    color: white;
}

/*About Page Styles*/
header{
    display: flex;
    /*Spacing out the nav elements*/
    justify-content:left;
    align-items:center;
    height: 5vh;
    flex-direction: row
}
.logo {
    display: flex;
    width: 15%;
    margin-right:10%;
  }
.logo img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width:100%;
}
.containerAboutPage{
    width: 80%;
    margin: 0 auto;
}
footer {
    width: 100%;
    background-color: #ff4b00;
}
footer nav{
    display: flex;
    justify-content: space-around;
}
footer nav a{
    color: white;
}
/*Responsive Styles*/